*{
  margin: 0;
  padding: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: auto;

  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;

  
}
.footer{
  text-align: left;
  margin-left:10px;
}
/* Сайдбар ссылки */
.sidebar-nav a {
  /*display: block; */
  color: white;
  
  text-decoration: none;
  /*width: auto;*/
  
}

.sidebar-nav li {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 1rem;
  }

.sidebar-sticky{
  margin-top: 350px;
}
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.5rem;
}
.sidebar-about{
  text-align: left;
  margin-left:10px;
}
/* Активная/текущая ссылка */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;

}

/* Ссылки при наведении мыши */
.sidebar-nav a:hover:not(.active) {
  text-decoration: underline;
}
/* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
div.content {
  margin-left:500px;
  padding: 1px 16px;
  height: 1000px;
}

/* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}